* {
  font-family: Big Shoulders Display;
  line-height: 1.5;
}

----------------------------------------------/* Groaps--------------------------------------------------------------- */

.sedans-img, .suvs-img, .luxry-img {
  padding-left: 40px;
}

.sedans,
.sedans-disc,
.suvs-disc,
.suvs,
.luxry,
.luxry-disc {
  padding-left: 40px;
  padding-right: 40px;
}

.sedans,
.suvs,
.luxry {
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  margin: 0 auto;
}

.sedans-disc,
.suvs-disc,
.luxry-disc {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}

.sedans-button,
.suvs-button,
.luxry-button {
  margin: 50px 0 0 30px;
  text-transform: capitalize;
  border-radius: 50px;
  padding: 7px 20px;
  border: none;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
  margin-bottom: 40px;
}

.container {
  width: 50%;
  margin: 40px auto;
  display: flex; /* Use flex display to position containers side by side */
}

.sedans-container,
.suvs-container,
.luxry-container {
  /* width: 50%; */
  height: auto;
  padding-top: 50px;
  border-radius: 3px;
}

/* ------------------------------------------sedans---------------------------------------------------------- */
.sedans-container {
  background-color: hsl(31, 77%, 52%);
}

.sedans-img {
  padding-left: 40px;
}

.sedans-button {
  color: hsl(31, 77%, 52%);
}

/* ------------------------------------------------suvs---------------------------------------------- */
.suvs-container {
  background-color: hsl(184, 100%, 22%);
  position: relative;
}

.suvs-button {
  color: hsl(184, 100%, 22%);
}

/* -----------------------------------------------------luxry-------------------------------------------------- */

.luxry-container {
  background-color: hsl(179, 100%, 13%);
}

.luxry-button {
  color: hsl(179, 100%, 13%);
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .DL__button {
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 90%;
    padding: 8px;
    margin-bottom: 10px;
  }
  a {
    align-self: center;
  }
}
